<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<context:component-scan base-package="linguagil.neo4j" />	

<context:property-placeholder location="classpath:cypher.properties" />

<bean id="programadorDAO" class="linguagil.neo4j.programador.ProgramadorDAO">
	<property name="queryIdade" value="${programadorDAO.idade}" />
	<property name="queryLinguagem" value="${programadorDAO.linguagem}" />
	<property name="queryIdadeLinguagem" value="${programadorDAO.linguagemIdade}" />
</bean>



<bean id="animalDAO" class="linguagil.neo4j.cadeia.AnimalDAO">
	<property name="comeAlguemQuery" value="${animalDAO.comeAlguem}" />
	<property name="cadeiaAlimentarQuery" value="${animalDAO.cadeiaAlimentar}" />
</bean>

</beans>